 {% extends "shop/product/index.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
  <div class="small-container product-detail">
        <div class="row">
            <div class="col-2">
                <img src="{{ product.image.url }}" width="100%" id="ProductImg">

                <div class="small-img-row">
                    <div class="small-img-col">

                      <img src="{{ product.image.url }}" width="100%" class="small-img">
                    </div>
                    {% for img in images %}
                    <div class="small-img-col">
                        <img src="{{img.image.url}}" width="100%" class="small-img">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-2">
                <p><a href="/">Home</a> / <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></p>  
                <h1>{{ product.name }}</h1>

                {% if product.variant == 'Size-Color' %}
                <form  method="post" id="post-form">
                    <input type="hidden" name="productid" id="productid" value="{{ product.id }}">
                    <span class="text-uppercase">Size :</span>
                     {% csrf_token %}
                    <select name="size" id="size">
                        {% for rs in sizes %}
                        <option {% if variant.size_id == rs.size_id %} selected {% endif %} value="{{ rs.size_id }}">{{ rs.size.name }}</option>
                        {% endfor %}
                    </select>
                </form>

                <form  method="post" action="?q=selectvariant" id="post-color">
                    {% csrf_token %}
                    <div id="appendHere">
                        <input type="hidden" name="size" id="size" value="{{ size_id }}">
                        <ul>
                            <li>Color:</li>
                            {% for itm in colors %}
                            <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                            <li>
                                <a style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">{{itm.color}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>

                {% elif product.variant == 'Size' %}
                <form method="post" action="?q=selectvariant" id="post-color">
                    {% csrf_token %}
                    <div id="appendHere">
                        <input type="hidden" name="size" id="size" value="{{ size_id }}">
                        <ul>
                            <li>Size:</li>
                            {% for itm in sizes %}
                            <input  type="radio"  {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                            <li>
                                <a style=" color: #204d74;  width: 90px">{{itm.size}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>

                {% elif product.variant == 'Color' %}
                <form method="post" action="?q=selectvariant" id="post-color">
                    {% csrf_token %}
                    <div id="appendHere">
                        <input type="hidden" name="size" id="size" value="{{ size_id }}">
                        <ul>
                            <li>Color:</li>
                            <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                            {% for itm in colors %}
                            <li>
                                <a style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px"> {{ rs.color }} </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>
                {% endif %}

                {% if product.variant != "None" %}
                <form action="{% url "cart:cart_add" product.id %}" method="post" id="addchart-form">
                    {% csrf_token %}
                    <h4>${{ variant.price }}</h4>
                    <input type="hidden" name="variantid" id="variantid" value="{{ variant.id }}">
                     {{ cart_product_form }}
                    <button type="submit" value="Add to cart" class="btn">Add to cart</button>
                </form>

                {% else %}

                <form action="{% url "cart:cart_add" product.id %}" method="post" id="addchart-form">
                    {% csrf_token %}
                    <h4>${{ product.price }}</h4>
                     {{ cart_product_form }}
                    <button type="submit" value="Add to cart" class="btn">Add to cart</button>
                </form>
                {% endif %}
            
                <h3>Product Details</h3><br>
                <p>{{ product.description|linebreaks }}</p>
            </div>
        </div>
    </div>

    <div class="small-container">
        <div class="row row-2">
            <h3>People who bought this also bougth</h3>
        </div>
    </div>

    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="{% static "img/product-1.jpg" %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>   
    </div>
    <script>
        var ProductImg = document.getElementById("ProductImg");
        var SmallImg = document.getElementsByClassName("small-img");

            SmallImg[0].onclick = function(){
                ProductImg.src = SmallImg[0].src;
            }
            SmallImg[1].onclick = function(){
                ProductImg.src = SmallImg[1].src;
            }
            SmallImg[2].onclick = function(){
                ProductImg.src = SmallImg[2].src;
            }
            SmallImg[3].onclick = function(){
                ProductImg.src = SmallImg[3].src;
            }
    </script>

    <script>
        $(document).on('change', '#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "shop:ajaxcolor" %}',
            data:{
                productid:$('#productid').val(),
                size:$('#size').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            data_type : 'html',
            success: function (data) {
                console.log("success");
                $('#appendHere').html(data.rendered_table);
            },
            error: function (data) {
                alert("Got an error dude " + data);
            }
        });
    });
</script>
{% endblock %}
