{% extends 'shop/product/index.html' %}

{% block title %}Change your password{% endblock  %}

{% block content %}
<div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span>Login</span>
                            <hr id="Indicator">
                        </div>
                        <form id="LoginForm" method='post'>
                            {{form.as_p}}
                            {% csrf_token %}
                            <button type="submit" class="btn">Change</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}