<div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="img/exclusive.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p>exclusively Available on Ets. Prince</p>
                    <h1>Smart Band 4</h1>
                    <small>Eiusmod aliquip dolore ut ipsum. Mollit elit cillum reprehenderit dolore. 
                        Aliqua fugiat proident officia laborum occaecat non laborum ea ad ea dolor. 
                        Est officia ad commodo et est voluptate excepteur magna ad sunt ad.  
                    </small><br>
                    <a href="#" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>