 <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Culpa culpa dolor veniam eiusmod cillum. Officia elit enim labore ea nulla 
                        elit quis id eiusmod in dolore Lorem mollit laborum. Occaecat sunt laboris consectetur 
                        anim.
                    </p>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="img/about-me.jpg">
                    <h3>McTech</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Culpa culpa dolor veniam eiusmod cillum. Officia elit enim labore ea nulla 
                        elit quis id eiusmod in dolore Lorem mollit laborum. Occaecat sunt laboris consectetur 
                        anim.
                    </p>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="img/user-2.png">
                    <h3>McTech</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Culpa culpa dolor veniam eiusmod cillum. Officia elit enim labore ea nulla 
                        elit quis id eiusmod in dolore Lorem mollit laborum. Occaecat sunt laboris consectetur 
                        anim.
                    </p>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="img/about-me.jpg">
                    <h3>McTech</h3>
                </div>
            </div>
        </div>
    </div>
